@media screen and (max-width: 1240px){

img{
	max-width: 580px;
}

body {
	width: 100%;
	margin: 0;
}

.container {
	width: 580px;
	margin: 0 auto;
}

.title {
	margin: 0 auto;
	padding: 80px 0 40px 0; 
}

header {
	width: 100%;
	height: 80px;
	border-bottom: rgb(242,242,242) solid 2px;
}

.header-logo {
	height: 48px;
	margin: 20px  0 0 179px;
}

.top-logo {
	width: 316px;
	height: 226px;
	margin: 41px auto 40px;
}

.top-logo img {
	width: 316px;
	height: 226px;
}

.top-wrapper {
	height: 400px;
}

#slider {
  position:relative;
  overflow: hidden;
  margin: 0 auto;
}


#wrapper {
  background: #fff;
  height: 326px;
  overflow: hidden;
  margin: 0 auto;
}

#wrapper img {
	height: 326px;
}

#carousel  {
	margin: 0;
	padding: 0;
}

#carousel li {
  float: left;
  margin: 0 5px;
}

#prev, #next {
  display: block;
  height: 88px;
  width: 50px;
  top: 119px;
  position: absolute;
}
#prev:hover, #next:hover {
  opacity:0.4;
}

#prev {
	margin-right: 529px;
  background: rgba(0,0,0,0.3) url(images/arrow-left.png)  center no-repeat;
}

#next {
  background: rgba(0,0,0,0.3) url(images/arrow-right.png)  center no-repeat;
  margin-left: 529px;
}

#pager {
  text-align:center;
  padding:21px;
}

#pager a {
  border-radius: 16px;
  background-color: rgb(204,204,204);
  display: inline-block;
  width: 16px;
  height: 16px;
  margin: 0 10px;
}

#pager a:hover {
  background-color: rgba(194,47,41,0.5) ;
}

#pager a span {
  display: none;
}

#pager a.selected {
  background-color: rgb(194,47,41);
}

.menu-wrapper {
	background-color: rgb(249,235,210);
	height: 1995px;
	padding: 0;
}

.page-link {
	background-color: rgb(111,88,57);
	width: 750px;
	height: 60px;
	margin: 0 auto;
	margin-bottom: 60px;
	display: none;
}

.btn-1 {
	position: relative;
	height: 60px;
	width: 243px;
	float: left;
}

.btn-1 a{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-indent: -9999px;
}

.btn-2 {
	position: relative;
	height: 60px;
	width: 242px;
	float: left;
}

.btn-2 a{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-indent: -999px;
}

.btn-3 {
	position: relative;
	height: 60px;
	width: 261px;
	float: right;
}

.btn-3 a{
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
	text-indent: -999px;
}

.btn-menu {
	position: relative;
	width: 93px;
	margin: 13.5px auto;
}

.btn-news {
	position: relative;
	width: 92px;
	margin: 13.5px auto;
}

.btn-phot {
	position: relative;
	width: 170px;
	margin: 13.5px auto;
}

.btn-menu p {
	color: white;
	font-size: 22px;
	font-family: "HiraMinProN-W3","ヒラギノ明朝 ProN W3", "游明朝", "YuMincho", serif;
}

.btn-news p {
	color: white;
	font-size: 22px;
	font-family: "HiraMinProN-W3","ヒラギノ明朝 ProN W3", "游明朝", "YuMincho", serif;
}

.btn-phot p {
	color: white;
	font-size: 22px;
	font-family: "HiraMinProN-W3","ヒラギノ明朝 ProN W3", "游明朝", "YuMincho", serif;
}

.page-link img {
	margin-left: 16px;
}

.btn-block{
	background-color: rgb(111,88,57);
	position: absolute;
	top: 0px;
	right: 0;
	height: 100%;
	width: 23%;
}

.active {
	display: none;
}

.line{
	height: 40px;
  border: none;
  border-left: solid 2px rgb(160,148,126);
  margin-top: 10px;
  float: left;
}

.title-menu {
	width: 391px;
	height: 30px;
	margin: 0 auto;
}

.menu {
	width: 422px;
	margin: 0 auto;
}

.menu img {
	height: 293px;
	width: auto;
	margin: 0 auto;
}

.menu-pic {
	position: relative;
}

.menu-pic p {
	position: absolute;
	top: 284px;
	width: 520px;
	color: #6f5839;
	font-size: 24px;
	text-align: center;
	font-family: "メイリオ", sans-serif;
}

.menu-left {
	height: 293px;
	width: 520px;
	float: center;
	background-color: white;
	margin: 0 auto;
	margin-bottom: 67px;
}

.menu-right {
	height: 293px;
	width: 520px;
	float: center;
	background-color: white;
	margin: 0 auto;
	margin-bottom: 67px;
}

.news-wrapper {
	height: 925px;
}

.title-news {
	width: 391px;
	height: 30px;
	margin: 0 auto;
}

.news {
	height: 338px;
	width: calc(100% / 2) ;
	float: left;
	margin-bottom: 20px;
 }

.news br {
	display: none;
}

.news img {
 	width: 254px;
 	height: auto;
}

.news1 {
	width: 254px;
	height: 338px;
	background-color: grey;
	position: relative;
	float: right;
	margin-right: 5px;
}

.news-text1{
	position: absolute;
	top:210px;
	height: 128px;
	width: 100%;
	background-color: rgba(127,127,127,0.5);
}

.news-text1 p{
	font-size: 24px;
	font-family: "メイリオ",'Meiryo' sans-serif;
	color:white;
	margin: 15px 20px;
	letter-spacing: 0.08em;
	line-height: 32px;
	vertical-align: middle;
}

.news2 {
	width: 254px;
	height: 338px;
	background-color: grey;
	position: relative;
	float: left;
	margin-left: 5px;
}

.news-text2{
	position: absolute;
	top:210px;
	height: 128px;
	width: 100%;
	background-color: rgba(127,127,127,0.5);
}

.news-text2 p{
	font-size: 24px;
	font-family: "メイリオ",'Meiryo' sans-serif;
	color:white;
	margin: 15px 20px;
	letter-spacing: 0.08em;
	line-height: 32px;
	vertical-align: middle;
}

.news3 {
	width: 254px;
	height: 338px;
	background-color: grey;
	float: right;
	position: relative;
	margin-right: 5px;
}

.news-text3{
	position: absolute;
	top:210px;
	height: 128px;
	width: 100%;
	background-color: rgba(127,127,127,0.5);
}

.news-text3 p{
	font-size: 24px;
	font-family: "メイリオ",'Meiryo', sans-serif;
	color:white;
	margin: 15px 20px;
	letter-spacing: 0.08em;
	line-height: 32px;
	vertical-align: middle;
}

.photo-wrapper {
	height: 512px;
}

.title-phot {
	width: 511px;
	height: 37px;
	margin: 0 auto;
}

.photo {
	height: 166px;
	width: calc(100% / 3) ;
	float: left;
	margin-bottom: 10px;
}

.photo img {
	height: 166px;
	width: 166px;
}

.photo1 {
	height: 166px;
	width: 166px;
	float: left;
}

.photo2 {
	height: 166px;
	width: 166px;
	margin: 0 auto;
}

.photo3 {
	height: 166px;
	width: 166px;
	float: right;
}

.photo4 {
	height: 166px;
	width: 166px;
	float: left;
}

.photo5 {
	height: 166px;
	width: 166px;
	margin: 0 auto;
}

.photo6 {
	height: 166px;
	width: 166px;
	float: right;
}


footer p {
	height: 12px;
	color: #cccccc;
	font-size: 20px;
	text-align: center;
	padding-top: 20px;
}

footer {
	background-color: rgb(111,88,57);
	height: 146px;
	margin: 0 auto;
}
}
